:root,
* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
}

.categories {
  display: flex;
  flex-direction: column;
  flex: 0 0 256px;
}

.categories a {
  text-decoration: none;
  font-family: "Dosis";
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2%;
  padding: 2%;
  color: aliceblue;
  background-color: rgb(68, 122, 122);
}

.categories a:hover {
  box-shadow: 0 2px 5px -2px black;
}
