:root,
* {
  padding: 0;
  margin: 0;
}

/*Header Stuff*/
.main-nav,
.sub-nav {
  display: flex;
}

.main-nav {
  background-color: darkslateblue;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.sub-nav {
  padding: 15px;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-list a {
  padding: 5px;
  border-right: solid 1px gray;
  color: aliceblue;
  text-decoration: none;
}

.nav-list li:last-of-type a {
  border-right: 0;
}

.sub-nav .search-form {
  width: 60vw;
  margin: 10px;
  position: absolute;
  left: 245px;
}

.sub-nav .search-form input {
  width: 50vw;
  height: 40px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  border: none;
  border-bottom: solid 1px darkslateblue;
  box-sizing: border-box;
}

.sub-nav .search-form button {
  background-color: darkslateblue;
  color: aliceblue;
  border: none;
  height: 40px;
  width: 40px;
}

.company-name {
  display: flex;
  width: 10vw;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  color: darkslateblue;
  font-family: "Marcellus SC", serif;
  padding: 10px;

  position: absolute;
  left: 60px;
}

.credit-offer {
  display: flex;
  justify-content: center;
  flex-shrink: 3;

  padding: 10px;
  text-decoration: none;
  color: aliceblue;
  background-color: red;
  font-family: sans-serif;
  font-size: 23px;
  height: 25px;
  width: 20vw;

  position: absolute;
  left: 75vw;
}

/* Categories Stuff */
main {
  display: flex;
}

.categories {
  display: flex;
  flex-direction: column;

  flex: 0 0 256px;
}

.categories a {
  text-decoration: none;
  font-family: "Dosis";
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 5%;
  color: aliceblue;
  background-color: darkslateblue;
}

.categories a:hover {
  box-shadow: 0 2px 5px -2px black;
}

/*Items Stuff*/
.items {
  display: flex;
  flex-flow: row wrap;
  font-family: sans-serif;
  align-items: flex-start;
  flex-grow: 5;
}

main {
  padding-top: 80px;
}

.item {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  box-shadow: 0 2px 5px -2px black;
  flex: 1 0 5%;
  margin-right: 12px;
  margin-bottom: 12px;
}

.item-name,
.fact-line {
  background-color: darkslateblue;
  color: aliceblue;
}
.fact-line {
  padding: 3px;
}

.item-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  font-size: 20px;
}

.add-item {
  background-color: darkblue;
  color: aliceblue;
  border-radius: 50%;
}

.item-description {
  display: flex;
  align-items: center;
  background-color: azure;
}

/*Footer Stuff*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(34, 28, 75);
  padding: 1rem;
  font-family: "Dosis";
}

footer section {
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  color: white;
}

footer section:last-of-type {
  margin-right: 0;
}

footer section a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.85rem;
}

footer h2 {
  color: white;
  border-bottom: solid 2px white;
  padding: 10px;
  margin-bottom: 10px;
  letter-spacing: 5px;
  font-size: 1.2rem;
}

footer section a:hover {
  border-bottom: solid 1px white;
  margin-bottom: 9px;
}

/*Media Queries*/

@media (max-width: 768px) {
  .item > * {
    font-size: 30px;
  }

  .item {
    flex-basis: 5%;
    flex-wrap: wrap;
  }

  .items {
    flex-direction: column;
  }

  .full-width {
    display: none;
  }

  .short-width {
    display: flex;
  }

  .credit-offer {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .full-width {
    display: flex;
  }

  .short-width {
    display: none;
  }

  .credit-offer {
    font-size: 23px;
  }
}
